In [1]:
import gender_guesser.detector as gender
import pandas as pd
import os

In [2]:
#Add Gender information
d = gender.Detector()
df = pd.read_excel('lateral group.xlsx')
gender_dict = {'male': 1, 'mostly_male': 1, 'female': 0, 'mostly_female': 0, 'unknown': 2, 'andy': 2}
genders = [d.get_gender(name) for name in df['First Name']]
labels_gender = [gender_dict[gen] for gen in genders]
df['Gender'] = genders
df['Gender Label'] = labels_gender
df
df.to_csv(os.path.join(os.getcwd(), 'school_data', 'lateral group - with gen.csv'))

In [3]:
df['Gender Label'].value_counts()

1    158
0    101
2     21
Name: Gender Label, dtype: int64

In [4]:
df

,LateralYear,ID,First Name,LastName,Moved From,Moved To,Gender,Gender Label
0,2012,9272,Matthew,Adler,University of Pennsylvania,Duke University,male,1
1,2016,3677,Edward,Afield,Ava Maria School of Law,Georgia State University,male,1
2,2017,46,Richard,Albert,Boston College,"University of Texas, Austin",male,1
3,2016,8298,Lisa,Alexander,"University of Wisconsin, Madison",Texas A&M University,female,0
4,2018,832,Hilary,Allen,Suffolk University,American University,female,0
5,2015,2546,Owen,Anderson,"University of Oklahoma, Norman","University of Texas, Austin",male,1
6,2018,2248,Olufunmilayo,Arewa,"University of California, Irvine",Temple University,unknown,2
7,2013,4263,Kenneth,Ayotte,Northwestern University,"University of California, Berkeley",male,1
8,2017,9199,Sahar,Aziz,Texas A&M University,Rutgers University,female,0
9,2017,9420,Adam,Badawi,"Washington University, St. Louis","University of California, Berkeley",male,1
10,2016,1458,Margo,Bagley,University of Virginia,Emory University,female,0
11,2017,794,Shalanda,Baker,University of Hawaii,Northeastern University,unknown,2
12,2017,5849,Angela,Banks,College of William & Mary,Arizona State University,female,0
13,2014,1470,Oren,Bar-Gill,New York University,Harvard University,male,1
14,2015,4247,Ann,Bartow,Pace University,University of New Hampshire,female,0
15,2013,852,Teri,Baxter,Saint Louis University,University of Tennessee,female,0
16,2012,5425,Karima,Bennoune,Rutgers University at Newark,"University of California, Davis",female,0
17,2014,248,Mitchell,Berman,"University of Texas, Austin",University of Pennsylvania,male,1
18,2018,656,Khaled,Beydoun,University of Detroit Mercy School of Law,"University of Arkansas, Fayetteville",male,1
19,2018,7894,Joshua,Blank,New York University,"University of California, Irvine",male,1
20,2017,301,William,Boyd,"University of Colorado, Boulder","University of California, Los Angeles",male,1
21,2012,7911,Anu,Bradford,University of Chicago,Columbia University,female,0
22,2018,2493,Samuel,Bray,"University of California, Los Angeles",University of Notre Dame,male,1
23,2015,8219,Thomas,Brennan,Northwestern University,Harvard University,male,1
24,2017,4088,Richard,Brooks,Columbia University,New York University,male,1
25,2017,1674,Alfred,Brophy,"University of North Carolina, Chapel Hill",University of Alabama,male,1
26,2012,865,Charles,Brower,University of Mississippi,Wayne State University,male,1
27,2017,3991,Eleanor,Brown,George Washington University,"Pennsylvania State University, University Park",female,0
28,2012,6713,Tomiko,Brown-Nagin,University of Virginia,Harvard University,female,0
29,2015,4416,Aaron,Bruhl,University of Houston,College of William & Mary,male,1
...,...,...,...,...,...,...,...,...
250,2014,7683,Adam,Steinman,Seton Hall University,University of Alabama,male,1
251,2014,1385,Kristen,Stilt,Northwestern University,Harvard University,female,0
252,2018,1550,Madhavi,Sunder,"University of California, Davis",Georgetown University,female,0
253,2015,956,Alan,Sykes,New York University,Stanford University,male,1
254,2014,1148,Eric,Talley,"University of California, Berkeley",Columbia University,male,1
255,2017,4685,Franita,Tolson,Florida State University,University of Southern California,unknown,2
256,2014,2329,Christopher,Tomlins,"University of California, Irvine","University of California, Berkeley",male,1
257,2014,5946,Gerald,Torres,"University of Texas, Austin",Cornell University,male,1
258,2016,8220,Elizabeth,Trujillo,Suffolk University,Texas A&M University,female,0
259,2014,6165,Deborah,Tuerkheimer,DePaul University,Northwestern University,female,0
260,2017,6593,Rebecca,Tushnet,Georgetown University,Harvard University,female,0
261,2012,6066,Amanda,Tyler,George Washington University,"University of California, Berkeley",female,0
262,2017,9182,Ryan,Vacca,University of Akron,University of New Hampshire,mostly_male,1
263,2012,4704,Katharine,Van Tassel,St. Thomas University (Florida),University of Akron,female,0
264,2017,7158,Urska,Velikonja,Emory University,Georgetown University,unknown,2
265,2017,7799,Rose,Villazor,"University of California, Davis",Rutgers University,female,0
266,2015,4898,Steve,Vladeck,American University,"University of Texas, Austin",male,1
267,2016,2848,Gina,Warren,Texas A&M University,University of Houston,female,0
268,2016,3160,Melissa,Wasserman,University of Illinois,"University of Texas, Austin",female,0
269,2017,4806,Nancy,Welsh,Pennsylvania State University Dickinson School...,Texas A&M University,female,0
270,2013,5837,Robin,Wilson,Washington & Lee University,University of Illinois,mostly_male,1
271,2018,4023,Andrew,Woods,University of Kentucky,University of Arizona,male,1
272,2018,4015,Kevin,Woodson,Drexel University,University of Richmond,male,1
273,2017,562,Del,Wright,Valparaiso University,"University of Missouri, Kansas City",female,0
274,2012,555,Gideon,Yaffe,University of Southern California,Yale University,male,1
275,2016,1213,Ellen,Yaroshefsky,Cardozo Law School,Hofstra University,female,0
276,2018,9362,Ruqaiijah,Yearby,Case Western Reserve University,Saint Louis University,unknown,2
277,2015,6567,Peter,Yu,Drake University,Texas A&M University,male,1
278,2015,8520,Kathryn,Zeiler,Georgetown University,Boston University,female,0
279,2018,7177,Sandi,Zellmer,"University of Nebraska, Lincoln",University of Montana,male,1